/* Aquí agregaremos la hoja de estilos */
body {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    background-color: black;
}

.container {
    width: auto;
    border-width: 5px;
    border-style: solid;
    padding: 20px;
    margin: 20px 10px;
    background-color: white;
    border-color: lightgray;
    text-align: center;
    overflow-x: auto;
}

.logo {
    height: 100px;
    vertical-align: middle;
}

input, button {
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button:hover {
    color: white;
    background: #b82c34;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #b82c34;
    color: #fff;
}

tr:hover {
    background-color: khaki;
    color: #000;
}